In [1494]:
import numpy as nump

In [1495]:
import pandas as pd

In [1496]:
df = pd.read_csv('movies_2.csv')

In [1497]:
df.head(5)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

In [1498]:
df.shape

(616, 11)

I have 616 rows and 11 columns

In [1499]:
df.info

<bound method DataFrame.info of      MovieID                                  Title MPAA Rating       Budget  \
0          1                     Look Who's Talking       PG-13    7500000.0
1          2                     Driving Miss Daisy          PG    7500000.0
2          3                         Turner & Hooch          PG   13000000.0
3          4             Born on the Fourth of July           R   14000000.0
4          5                        Field of Dreams          PG   15000000.0
..       ...                                    ...         ...          ...
611      612                            Toy Story 4           G  200000000.0
612      613  Fast & Furious Presents: Hobbs & Shaw       PG-13  200000000.0
613      614                          The Lion King          PG  250000000.0
614      615                      Avengers: Endgame       PG-13  356000000.0
615        0                                    NaN         NaN          NaN

            Gross Release Date      Genre  Runtime  Rating  Rating Count  \
0    2.960000e+08   1989-10-12    Romance     93.0     5.9       73638.0
1    1.457933e+08   1989-12-13     Comedy     99.0     7.4       91075.0
2    7.107992e+07   1989-07-28      Crime    100.0     7.2       91415.0
3    1.610017e+08   1989-12-20        War    145.0     7.2       91415.0
4    8.443162e+07   1989-04-21      Drama    107.0     7.5      101702.0
..            ...          ...        ...      ...     ...           ...
611  1.062000e+09   2019-06-11  Animation    100.0     NaN           NaN
612  7.594000e+08   2019-07-13   Thriller    136.0     NaN           NaN
613  1.632000e+09   2019-07-09      Drama    118.0     NaN           NaN
614  2.796000e+09   2019-04-22     Action    181.0     NaN           NaN
615           NaN          NaN        NaN      NaN     NaN           NaN

                                               Summary
0    After a single, career-minded woman is left on...
1    An old Jewish woman and her African-American c...
2    Det. Scott Turner (Tom Hanks) is an uptight, b...
3    The biography of Ron Kovic. Paralyzed in the V...
4    An Iowa corn farmer, hearing voices, interpret...
..                                                 ...
611                                                NaN
612                                                NaN
613                                                NaN
614                                                NaN
615                                                NaN

[616 rows x 11 columns]>

In [1500]:
df.dtypes

MovieID           int64
Title            object
MPAA Rating      object
Budget          float64
Gross           float64
Release Date     object
Genre            object
Runtime         float64
Rating          float64
Rating Count    float64
Summary          object
dtype: object

In [1501]:
df.isna()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
611,False,False,False,False,False,False,False,False,True,True,True
612,False,False,False,False,False,False,False,False,True,True,True
613,False,False,False,False,False,False,False,False,True,True,True
614,False,False,False,False,False,False,False,False,True,True,True
615,False,True,True,True,True,True,True,True,True,True,True

In [1502]:
df.isnull()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
611,False,False,False,False,False,False,False,False,True,True,True
612,False,False,False,False,False,False,False,False,True,True,True
613,False,False,False,False,False,False,False,False,True,True,True
614,False,False,False,False,False,False,False,False,True,True,True
615,False,True,True,True,True,True,True,True,True,True,True

In [1503]:
df['MPAA Rating'].isna().sum()

1

In [1504]:
# COUNT THE AMOUNT OF NaN IN THE DATAFRAME 

df['Budget'].isna().sum()
df['Gross'].isna().sum()
df['Release Date'].isna().sum()
df['Genre'].isna().sum()
df['Runtime'].isna().sum()
df['Rating'].isna().sum()
df['Rating Count'].isna().sum()

108

### REMOVE A COLUM

In [1505]:

df.drop(["Summary"], axis=1, inplace = True)

In [1506]:
df.head(5)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0

### Rename label in one or several column

In [1507]:
df.rename(columns={'MovieID': 'movie_id','Title': 'title', 'MPAA Rating':'mpaa_rating','Budget': 'budget($)', 'Gross': 'gross($)', 'Release Date': 'release_date', 'Genre':'genre', 'Runtime':'runtime(min)', 'Rating':'rating', 'Rating Count':'rating_count'},inplace=True)

In [1508]:
df.head(5)

,movie_id,title,mpaa_rating,budget($),gross($),release_date,genre,runtime(min),rating,rating_count
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0

### Deleting a row

In [1509]:
df.drop([615])

,movie_id,title,mpaa_rating,budget($),gross($),release_date,genre,runtime(min),rating,rating_count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,NaN,NaN
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN

### other way with index -1

In [1510]:
df.drop(df.index[-1], inplace=True)

In [1511]:
df['rating_count'].isna().sum()

107

### Method to calculate missing value

In [1512]:
df["rating"].fillna(value=df["rating"].median(), inplace=True)

df["rating_count"].fillna(value=df["rating_count"].median(), inplace=True)

In [1513]:
df.duplicated().sum()
 # By default(keep='first'), duplicated() marks all duplicate rows as True, except for the first occurrence, which is marked as False.

0

### To visualize duplicates in Data Frame

In [1514]:
df[df.duplicated()]

Empty DataFrame
Columns: [movie_id, title, mpaa_rating, budget($), gross($), release_date, genre, runtime(min), rating, rating_count]
Index: []

In [1515]:
#df[df.duplicated("titles")]

### Identify the amount of unique values

In [1516]:
df["title"].nunique()

609

In [1517]:
df

,movie_id,title,mpaa_rating,budget($),gross($),release_date,genre,runtime(min),rating,rating_count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,6.9,240347.5
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,6.9,240347.5
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,6.9,240347.5
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,6.9,240347.5
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,240347.5

### See duplicates (the first duplicate in this case)

In [1518]:
res = df[df.duplicated(subset=['title'])]

In [1519]:
res

,movie_id,title,mpaa_rating,budget($),gross($),release_date,genre,runtime(min),rating,rating_count
249,250,Jurassic Park III,PG-13,93000000.0,3.687808e+08,2001-07-18,Adventure,92.0,5.9,280110.0
501,502,Teenage Mutant Ninja Turtles,PG-13,125000000.0,4.772000e+08,2014-08-07,Action,101.0,5.8,194073.0
504,505,Godzilla,PG-13,160000000.0,5.290761e+08,2014-05-14,Thriller,123.0,6.4,359438.0
565,566,Beauty and the Beast,PG,160000000.0,1.262886e+09,2017-03-16,Drama,129.0,6.9,240347.5
609,610,Aladdin,PG,183000000.0,1.049000e+09,2019-05-08,Fantasy,128.0,6.9,240347.5
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,6.9,240347.5

### Drop all the duplicates (first elements)

In [1520]:
df.drop_duplicates(subset=['title'], keep='first')

,movie_id,title,mpaa_rating,budget($),gross($),release_date,genre,runtime(min),rating,rating_count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
608,609,Captain Marvel,PG-13,175000000.0,1.128000e+09,2019-02-27,Action,124.0,6.9,240347.5
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,6.9,240347.5
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,6.9,240347.5
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,6.9,240347.5
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,240347.5

### Change data type of a column into integers

In [1521]:
df['budget($)'].astype(int)

0        7500000
1        7500000
2       13000000
3       14000000
4       15000000
         ...
610    200000000
611    200000000
612    200000000
613    250000000
614    356000000
Name: budget($), Length: 615, dtype: int64

In [1522]:
df.head()

,movie_id,title,mpaa_rating,budget($),gross($),release_date,genre,runtime(min),rating,rating_count
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0

In [1523]:
# Before converting a column into integers, we may want to check if the column doesn't contain NaN or non-numeric values, otherwise conversion will fail 

# Fill missing values with 0 before converting 

df['budget($)'] = df['budget($)'].fillna(0).astype(int)

In [1524]:
# Here we want to replace the values containing a comma by nothing 

df['budget($)'].astype(str).str.replace(',', '').astype(int)

/Users/pierreloyal/anaconda3/lib/python3.11/site-packages/IPython/core/displayhook.py:281: UserWarning: Output cache limit (currently 1000 entries) hit.
Flushing oldest 200 entries.
  warn('Output cache limit (currently {sz} entries) hit.\n'

0        7500000
1        7500000
2       13000000
3       14000000
4       15000000
         ...
610    200000000
611    200000000
612    200000000
613    250000000
614    356000000
Name: budget($), Length: 615, dtype: int64

### Replace the Gross Values with integers

In [1525]:
df['gross($)'].astype(int)

0       296000000
1       145793296
2        71079915
3       161001698
4        84431625
          ...
610     385900000
611    1062000000
612     759400000
613    1632000000
614    2796000000
Name: gross($), Length: 615, dtype: int64

### Conversion of release_date column into a data time so pandas can understand and manipulate as dates

In [1526]:
df['release_date'] = pd.to_datetime(df['release_date'])

### To change the date configuration YYYY-MM-DD into DD-MM-YYYY

In [1527]:
df['release_date']=df['release_date'].dt.strftime('%d-%m-%y')

In [1528]:
df.head()

,movie_id,title,mpaa_rating,budget($),gross($),release_date,genre,runtime(min),rating,rating_count
0,1,Look Who's Talking,PG-13,7500000,296000000.0,12-10-89,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000,145793296.0,13-12-89,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000,71079915.0,28-07-89,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000,161001698.0,20-12-89,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000,84431625.0,21-04-89,Drama,107.0,7.5,101702.0

### Filter Data according to needs, here movies with Gross > 5e7 and rating > 7

In [1529]:
df[(df['rating'] > 7) & (df['gross($)'] > 5e7)]

,movie_id,title,mpaa_rating,budget($),gross($),release_date,genre,runtime(min),rating,rating_count
1,2,Driving Miss Daisy,PG,7500000,145793296.0,13-12-89,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000,71079915.0,28-07-89,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000,161001698.0,20-12-89,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000,84431625.0,21-04-89,Drama,107.0,7.5,101702.0
6,7,When Harry Met Sally...,R,16000000,92800000.0,21-07-89,Romance,96.0,7.6,180871.0
...,...,...,...,...,...,...,...,...,...,...
505,506,Big Hero 6,PG,165000000,652105443.0,24-10-14,Animation,102.0,7.8,380953.0
506,507,Interstellar,PG-13,165000000,675120017.0,05-11-14,Science Fiction,169.0,8.6,1343549.0
507,508,Captain America: The Winter Soldier,PG-13,170000000,714766572.0,20-03-14,Action,136.0,7.7,685903.0
508,509,Dawn of the Planet of the Apes,PG-13,170000000,710644566.0,26-06-14,Science Fiction,130.0,7.6,395425.0
509,510,Guardians of the Galaxy,PG-13,170000000,773328629.0,30-07-14,Action,121.0,8.0,978222.0

In [1530]:
df[(df['rating'] > 7) & (df['gross($)'] > 5e7) & (df['mpaa_rating']=="PG")]

,movie_id,title,mpaa_rating,budget($),gross($),release_date,genre,runtime(min),rating,rating_count
1,2,Driving Miss Daisy,PG,7500000,1.457933e+08,13-12-89,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000,7.107992e+07,28-07-89,Crime,100.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000,8.443162e+07,21-04-89,Drama,107.0,7.5,101702.0
7,8,Dead Poets Society,PG,16400000,2.358601e+08,02-06-89,Drama,129.0,8.1,382002.0
13,14,Batman,PG,35000000,4.113489e+08,23-06-89,Action,126.0,7.5,319517.0
15,16,The Little Mermaid,PG,40000000,2.223000e+08,17-11-89,Animation,83.0,7.6,219221.0
16,17,Back to the Future Part II,PG,40000000,3.320000e+08,20-11-89,Science Fiction,108.0,7.8,438940.0
19,20,Steel Magnolias,PG,15000000,9.590409e+07,15-11-89,Drama,119.0,7.3,43037.0
24,25,Home Alone,PG,18000000,4.766847e+08,09-11-90,Family,103.0,7.6,414472.0
32,33,The Hunt for Red October,PG,30000000,1.992000e+08,02-03-90,Thriller,134.0,7.6,167212.0
34,35,Back to the Future Part III,PG,40000000,2.445276e+08,25-05-90,Family,118.0,7.4,369652.0
45,46,Teenage Mutant Ninja Turtles II,PG,25000000,7.860000e+07,22-03-91,Action,88.0,8.0,397467.0
46,47,Beauty and the Beast,PG,25000000,3.773506e+08,13-11-91,Animation,84.0,8.0,397467.0
49,50,Star Trek VI: The Undiscovered Country,PG,27000000,9.690000e+07,05-12-91,Science Fiction,113.0,7.2,66086.0
72,73,A League of Their Own,PG,40000000,1.074588e+08,01-07-92,Comedy,128.0,7.2,85932.0
80,81,Groundhog Day,PG,14600000,7.090697e+07,11-02-93,Comedy,101.0,8.0,549538.0
106,107,Star Trek: Generations,PG,38000000,1.200000e+08,17-11-94,Science Fiction,118.0,8.5,869127.0
126,127,Mr. Holland's Opus,PG,31000000,1.062700e+08,29-12-95,Family,137.0,7.3,33906.0
130,131,Apollo 13,PG,52000000,3.552379e+08,30-06-95,Drama,140.0,7.6,250975.0
174,175,Contact,PG,90000000,1.711203e+08,11-07-97,Science Fiction,150.0,7.4,239569.0
185,186,The Truman Show,PG,60000000,2.641182e+08,04-06-98,Comedy,103.0,8.1,859224.0
188,189,The Prince of Egypt,PG,70000000,2.186132e+08,15-12-98,Animation,99.0,7.1,110340.0
215,216,Tarzan,PG,150000000,4.480000e+08,18-06-99,Animation,88.0,7.3,187724.0
220,221,Remember the Titans,PG,30000000,1.367067e+08,29-09-00,Drama,113.0,7.8,186997.0
241,242,Shrek,PG,60000000,4.844092e+08,16-05-01,Animation,90.0,7.8,574978.0
255,256,Harry Potter and the Sorcerer's Stone,PG,125000000,9.751000e+08,04-11-01,Fantasy,152.0,7.6,583224.0
261,262,Ice Age,PG,59000000,3.832571e+08,10-03-02,Animation,81.0,7.5,411963.0
270,271,Harry Potter and the Chamber of Secrets,PG,100000000,8.766885e+08,13-11-02,Fantasy,161.0,7.4,505027.0
304,305,The Incredibles,PG,92000000,6.314421e+08,05-11-04,Animation,115.0,8.0,617102.0
309,310,Harry Potter and the Prisoner of Azkaban,PG,130000000,7.898046e+08,31-05-04,Fantasy,141.0,7.9,501648.0
311,312,Shrek 2,PG,150000000,9.198388e+08,19-05-04,Animation,93.0,7.2,391295.0
385,386,Kung Fu Panda,PG,130000000,6.317446e+08,04-06-08,Animation,90.0,7.5,390478.0
410,411,Monsters vs Aliens,PG,175000000,3.815099e+08,19-03-09,Animation,94.0,7.7,374981.0
411,412,Up,PG,175000000,7.350991e+08,13-05-09,Animation,96.0,8.2,867393.0
415,416,Harry Potter and the Half-Blood Prince,PG,250000000,9.339592e+08,07-07-09,Fantasy,153.0,7.6,429384.0
420,421,Despicable Me,PG,69000000,5.435140e+08,08-07-10,Animation,95.0,7.6,473121.0
425,426,Megamind,PG,130000000,3.218872e+08,28-10-10,Animation,95.0,7.2,212563.0
428,429,How to Train Your Dragon,PG,165000000,4.948788e+08,05-03-10,Animation,98.0,8.1,624128.0
435,436,Tangled,PG,260000000,5.917949e+08,24-11-10,Animation,100.0,7.7,374981.0
447,448,Puss in Boots: The Three Diablos,PG,130000000,5.550000e+08,08-12-11,Animation,130.0,7.8,727724.0
451,452,Kung Fu Panda 2,PG,150000000,6.656923e+08,25-05-11,Animation,91.0,7.2,234612.0
461,462,Hotel Transylvania,PG,85000000,3.583756e+08,20-09-12,Animation,91.0,7.1,208916.0
466,467,Wreck-It Ralph,PG,165000000,4.712229e+08,01-11-12,Animation,108.0,7.7,354202.0
468,469,Brave,PG,185000000,5.389832e+08,21-06-12,Animation,93.0,7.1,346490.0
480,481,Despicable Me 2,PG,76000000,9.707619e+08,25-06-13,Animation,98.0,7.4,350582.0
484,485,The Croods,PG,135000000,5.851789e+08,20-03-13,Animation,98.0,7.2,180043.0
485,486,Frozen,PG,150000000,1.274219e+09,27-11-13,Animation,102.0,7.5,527284.0
498,499,The Lego Movie,PG,60000000,4.691607e+08,06-02-14,Animation,100.0,7.8,309295.0
503,504,How to Train Your Dragon 2,PG,145000000,6.091230e+08,12-06-14,Animation,102.0,7.8,285394.0
505,506,Big Hero 6,PG,165000000,6.521054e+08,24-10-14,Animation,102.0,7.8,380953.0

In [1531]:
df[(df['rating'] > 7) & (df['genre'] == "Animation")]

,movie_id,title,mpaa_rating,budget($),gross($),release_date,genre,runtime(min),rating,rating_count
15,16,The Little Mermaid,PG,40000000,2.223000e+08,17-11-89,Animation,83.0,7.6,219221.0
46,47,Beauty and the Beast,PG,25000000,3.773506e+08,13-11-91,Animation,84.0,8.0,397467.0
65,66,Aladdin,G,28000000,5.040502e+08,25-11-92,Animation,90.0,8.0,336384.0
107,108,The Lion King,G,45000000,7.882418e+08,23-06-94,Animation,89.0,8.5,869127.0
123,124,Toy Story,G,30000000,3.735540e+08,30-10-95,Animation,81.0,8.3,820625.0
171,172,Hercules,G,85000000,2.527121e+08,26-06-97,Animation,93.0,7.3,188044.0
188,189,The Prince of Egypt,PG,70000000,2.186132e+08,15-12-98,Animation,99.0,7.1,110340.0
191,192,Mulan,G,90000000,3.043203e+08,18-06-98,Animation,88.0,7.6,229669.0
194,195,A Bug's Life,G,120000000,3.632589e+08,25-11-98,Animation,95.0,7.2,251436.0
211,212,Toy Story 2,G,90000000,4.973669e+08,30-10-99,Animation,92.0,7.9,489299.0
215,216,Tarzan,PG,150000000,4.480000e+08,18-06-99,Animation,88.0,7.3,187724.0
241,242,Shrek,PG,60000000,4.844092e+08,16-05-01,Animation,90.0,7.8,574978.0
261,262,Ice Age,PG,59000000,3.832571e+08,10-03-02,Animation,81.0,7.5,411963.0
286,287,Finding Nemo,G,94000000,9.403355e+08,30-05-03,Animation,100.0,8.1,887773.0
304,305,The Incredibles,PG,92000000,6.314421e+08,05-11-04,Animation,115.0,8.0,617102.0
311,312,Shrek 2,PG,150000000,9.198388e+08,19-05-04,Animation,93.0,7.2,391295.0
349,350,Cars,G,120000000,4.619831e+08,08-06-06,Animation,117.0,7.1,338715.0
369,370,Ratatouille,G,150000000,6.237228e+08,22-06-07,Animation,111.0,8.0,594171.0
385,386,Kung Fu Panda,PG,130000000,6.317446e+08,04-06-08,Animation,90.0,7.5,390478.0
391,392,WALL-E,G,180000000,5.333000e+08,23-06-08,Animation,97.0,7.6,429384.0
410,411,Monsters vs Aliens,PG,175000000,3.815099e+08,19-03-09,Animation,94.0,7.7,374981.0
411,412,Up,PG,175000000,7.350991e+08,13-05-09,Animation,96.0,8.2,867393.0
420,421,Despicable Me,PG,69000000,5.435140e+08,08-07-10,Animation,95.0,7.6,473121.0
425,426,Megamind,PG,130000000,3.218872e+08,28-10-10,Animation,95.0,7.2,212563.0
428,429,How to Train Your Dragon,PG,165000000,4.948788e+08,05-03-10,Animation,98.0,8.1,624128.0
433,434,Toy Story 3,G,200000000,1.066970e+09,16-06-10,Animation,103.0,8.3,705408.0
435,436,Tangled,PG,260000000,5.917949e+08,24-11-10,Animation,100.0,7.7,374981.0
447,448,Puss in Boots: The Three Diablos,PG,130000000,5.550000e+08,08-12-11,Animation,130.0,7.8,727724.0
451,452,Kung Fu Panda 2,PG,150000000,6.656923e+08,25-05-11,Animation,91.0,7.2,234612.0
461,462,Hotel Transylvania,PG,85000000,3.583756e+08,20-09-12,Animation,91.0,7.1,208916.0
466,467,Wreck-It Ralph,PG,165000000,4.712229e+08,01-11-12,Animation,108.0,7.7,354202.0
468,469,Brave,PG,185000000,5.389832e+08,21-06-12,Animation,93.0,7.1,346490.0
480,481,Despicable Me 2,PG,76000000,9.707619e+08,25-06-13,Animation,98.0,7.4,350582.0
484,485,The Croods,PG,135000000,5.851789e+08,20-03-13,Animation,98.0,7.2,180043.0
485,486,Frozen,PG,150000000,1.274219e+09,27-11-13,Animation,102.0,7.5,527284.0
492,493,Monsters University,G,200000000,7.435596e+08,20-06-13,Animation,104.0,7.3,299133.0
498,499,The Lego Movie,PG,60000000,4.691607e+08,06-02-14,Animation,100.0,7.8,309295.0
503,504,How to Train Your Dragon 2,PG,145000000,6.091230e+08,12-06-14,Animation,102.0,7.8,285394.0
505,506,Big Hero 6,PG,165000000,6.521054e+08,24-10-14,Animation,102.0,7.8,380953.0

### Counting the amount of values with shape function

In [1532]:
df[(df['rating'] > 7) & (df['genre'] == "Animation")].shape[0]

39

### Counting the amount of values with len () function

In [1533]:
len(df[(df['rating'] > 7) & (df['genre'] == "Animation")])

39

### Sorting and classifying values in ascending or descending order

In [1534]:
sorted_budget = df.sort_values(by='budget($)', ascending=False)

sorted_budget.head(5)

,movie_id,title,mpaa_rating,budget($),gross($),release_date,genre,runtime(min),rating,rating_count
594,595,Avengers: Infinity War,PG-13,400000000,2.048000e+09,23-04-18,Action,149.0,6.9,240347.5
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000,1.045714e+09,14-05-11,Action,136.0,6.6,455211.0
614,615,Avengers: Endgame,PG-13,356000000,2.796000e+09,22-04-19,Action,181.0,6.9,240347.5
574,575,Star Wars: The Last Jedi,PG-13,317000000,1.333000e+09,09-12-19,Science Fiction,152.0,6.9,240347.5
375,376,Pirates of the Caribbean: At World's End,PG-13,300000000,9.610000e+08,19-05-07,Adventure,169.0,7.1,565402.0

In [1535]:
sorted_budget_2 = df.nlargest(5, "budget($)")

sorted_budget_2

,movie_id,title,mpaa_rating,budget($),gross($),release_date,genre,runtime(min),rating,rating_count
594,595,Avengers: Infinity War,PG-13,400000000,2.048000e+09,23-04-18,Action,149.0,6.9,240347.5
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000,1.045714e+09,14-05-11,Action,136.0,6.6,455211.0
614,615,Avengers: Endgame,PG-13,356000000,2.796000e+09,22-04-19,Action,181.0,6.9,240347.5
574,575,Star Wars: The Last Jedi,PG-13,317000000,1.333000e+09,09-12-19,Science Fiction,152.0,6.9,240347.5
375,376,Pirates of the Caribbean: At World's End,PG-13,300000000,9.610000e+08,19-05-07,Adventure,169.0,7.1,565402.0

### Sorting AND classifying in descendent order

In [1536]:
 df_comedy_top_5 = df[df['genre'] == "Comedy"].sort_values(by='rating', ascending=False)

df_comedy_top_5.head(5)

,movie_id,title,mpaa_rating,budget($),gross($),release_date,genre,runtime(min),rating,rating_count
111,112,Forrest Gump,PG-13,55000000,677945399.0,06-07-94,Comedy,142.0,8.8,1657851.0
185,186,The Truman Show,PG,60000000,264118201.0,04-06-98,Comedy,103.0,8.1,859224.0
254,255,"Monsters, Inc.",G,115000000,562816256.0,01-11-01,Comedy,92.0,8.0,758349.0
80,81,Groundhog Day,PG,14600000,70906973.0,11-02-93,Comedy,101.0,8.0,549538.0
164,165,As Good as It Gets,PG-13,50000000,314178011.0,19-12-97,Comedy,139.0,7.7,258974.0

### Sorting Top 5 movies names by rating

In [1537]:
df_top_5 = df.sort_values(by='rating', ascending=False)

df_top_5 .head(5)

,movie_id,title,mpaa_rating,budget($),gross($),release_date,genre,runtime(min),rating,rating_count
393,394,The Dark Knight,PG-13,185000000,1.004558e+09,16-07-08,Action,152.0,9.0,2127228.0
83,84,Schindler's List,R,22000000,3.213656e+08,29-11-93,History,195.0,8.9,1117322.0
287,288,The Lord of the Rings: The Return of the King,PG-13,94000000,1.118889e+09,01-12-03,Fantasy,201.0,8.9,1529953.0
99,100,Pulp Fiction,R,8000000,2.139288e+08,10-09-94,Thriller,154.0,8.9,1690474.0
98,99,Jurassic Park III,PG-13,93000000,3.688000e+08,16-07-01,Thriller,92.0,8.9,1690474.0

### Converting date string values into datetime format DD-MM-YYYY

In [1538]:
df['release_date']= pd.to_datetime(df['release_date'], format = ('%d-%m-%y'))

In [1539]:
df_top_3_gross_romance = df[(df['genre'] == "Romance") & (df['release_date'].dt.year>1999)].sort_values(by='gross($)', ascending=False)

df_top_3_gross_romance.head(3)

,movie_id,title,mpaa_rating,budget($),gross($),release_date,genre,runtime(min),rating,rating_count
464,465,The Twilight Saga: Breaking Dawn - Part 2,PG-13,120000000,829000000.0,2012-11-13,Romance,115.0,5.5,218357.0
442,443,The Twilight Saga: Breaking Dawn - Part 1,PG-13,110000000,712171856.0,2011-03-15,Romance,117.0,4.9,211592.0
401,402,The Twilight Saga: New Moon,PG-13,50000000,709827462.0,2009-03-15,Romance,130.0,4.7,252223.0

In [1540]:
sr = pd.Series(df['genre'])
sr

0        Romance
1         Comedy
2          Crime
3            War
4          Drama
         ...
610    Adventure
611    Animation
612     Thriller
613        Drama
614       Action
Name: genre, Length: 615, dtype: object

In [1541]:
sr.value_counts()

genre
Action             110
Comedy              99
Animation           87
Drama               66
Thriller            41
Science Fiction     37
Adventure           30
Family              29
Romance             28
Fantasy             27
Crime               17
Horror              14
Mystery             11
War                  9
Western              6
History              4
Name: count, dtype: int64

In [1542]:
unique_genre = df['genre'].unique()

unique_genre

array(['Romance', 'Comedy', 'Crime', 'War', 'Drama', 'Family', 'Action',
       'Animation', 'Science Fiction', 'Adventure', 'Thriller', 'Western',
       'Horror', 'Mystery', 'History', 'Fantasy'], dtype=object)

In [1543]:
len(unique_genre)

16

In [1544]:
df['genre'].nunique()

16

In [1545]:
df_top_5_budget_1999 = df[(df['release_date'].dt.year>1999)].sort_values(by='budget($)', ascending=False).head(5)

df_top_5_budget_1999

,movie_id,title,mpaa_rating,budget($),gross($),release_date,genre,runtime(min),rating,rating_count
594,595,Avengers: Infinity War,PG-13,400000000,2.048000e+09,2018-04-23,Action,149.0,6.9,240347.5
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000,1.045714e+09,2011-05-14,Action,136.0,6.6,455211.0
614,615,Avengers: Endgame,PG-13,356000000,2.796000e+09,2019-04-22,Action,181.0,6.9,240347.5
574,575,Star Wars: The Last Jedi,PG-13,317000000,1.333000e+09,2019-12-09,Science Fiction,152.0,6.9,240347.5
573,574,Justice League,PG-13,300000000,6.579000e+08,2017-11-15,Action,120.0,6.9,240347.5

In [1546]:
frequence_mpaa_1 = pd.Series(df['mpaa_rating'])

frequence_mpaa_1

0      PG-13
1         PG
2         PG
3          R
4         PG
       ...
610    PG-13
611        G
612    PG-13
613       PG
614    PG-13
Name: mpaa_rating, Length: 615, dtype: object

In [1547]:
frequence_mpaa_2 = frequence_mpaa_1.value_counts()

In [1548]:
frequence_mpaa_2

mpaa_rating
PG-13    285
PG       161
R        142
G         27
Name: count, dtype: int64

In [1549]:
first_mpaa_rating = frequence_mpaa_2.index[0]
first_value = frequence_mpaa_2.iloc[0]

last_mpaa_rating = frequence_mpaa_2.index[-1]
last_value = frequence_mpaa_2.iloc[-1]

print(first_mpaa_rating, first_value)
print(last_mpaa_rating, last_value)

PG-13 285
G 27

In [1550]:
most_least_genre = df.groupby('genre')['budget($)'].mean().sort_values(ascending=False)

most_least_genre

genre
Fantasy            1.612111e+08
Action             1.441682e+08
Adventure          1.338333e+08
Science Fiction    1.267838e+08
Animation          1.158793e+08
Mystery            1.035455e+08
War                9.075556e+07
Thriller           8.658537e+07
Western            7.983333e+07
Family             6.268966e+07
Crime              5.658824e+07
Drama              5.592576e+07
History            5.550000e+07
Comedy             4.957727e+07
Romance            4.540020e+07
Horror             3.700429e+07
Name: budget($), dtype: float64

In [1551]:
first_genre= most_least_genre.index[0]
first_value = most_least_genre.iloc[0]

last_genre = most_least_genre.index[-1]
last_value = most_least_genre.iloc[-1]

print(first_genre, first_value)
print(last_genre, last_value)

Fantasy 161211111.1111111
Horror 37004285.71428572

In [1552]:
preferred_genre = df.groupby('genre')['rating'].mean().sort_values(ascending=False)

preferred_genre

genre
History            7.625000
War                7.355556
Fantasy            7.337037
Western            7.333333
Drama              7.193939
Science Fiction    7.151351
Animation          7.110345
Thriller           6.995122
Action             6.985455
Crime              6.876471
Mystery            6.827273
Horror             6.735714
Adventure          6.696667
Comedy             6.631313
Romance            6.400000
Family             6.117241
Name: rating, dtype: float64

In [1553]:
amount_ratings = df.groupby('genre')['rating'].value_counts().sort_values(ascending=True)

amount_ratings

genre      rating
Drama      5.9        1
Fantasy    6.2        1
           5.7        1
           6.1        1
           6.5        1
                     ..
Drama      6.9       10
Thriller   6.9       10
Comedy     6.9       15
Animation  6.9       28
Action     6.9       38
Name: count, Length: 281, dtype: int64

In [1561]:
mean_rating = df['rating'].mean()

x_quantile_50 = df['rating_count'].quantile(0.50)

In [1562]:
def weighted_rating (movie, x_quantile_50=x_quantile_50, mean_rating=mean_rating):
    m = movie ['rating_count']
    r = movie ['rating']
    return (m/(m+x_quantile_50)*r) + (x_quantile_50/(x_quantile_50+m)*mean_vote)

In [1556]:
df['weighted_rating'] = df.apply(weighted_rating, axis=1)

favourite_genre = df.groupby('genre')["weighted_rating"].mean().sort_values (ascending=False)

favourite_genre

genre
History            7.427311
Fantasy            7.301850
Western            7.270464
War                7.207926
Drama              7.136233
Science Fiction    7.123499
Animation          7.083491
Thriller           7.056049
Action             7.021581
Crime              6.989374
Mystery            6.950203
Adventure          6.910464
Comedy             6.865684
Horror             6.858611
Family             6.733358
Romance            6.727942
Name: weighted_rating, dtype: float64